.navbar-inverse{
	background-color: #F5F5F5;
	border-color: #F5F5F5;
}

.mystyle-top-navbar{
	border: solid;
	border-color: rgb(51, 160, 190);
	border-radius: 20px;
	margin: 10px;
}

.navbar-nav{
	padding-top: 8px;
}

.footer-info{
	color: rgb(157, 157, 157);
	padding: 15px;
	border: solid;
	border-radius: 20px;
	border-color: rgb(51, 160, 190);
	margin: 8px;

}

a:hover{
	color: #EDF349;
	border-radius: 20px;
}

.contact-us-body{
	text-align: center;
}

#connect-on {
	text-align: center;
	color: rgb(160, 157, 157);
}

#thank-you {
	text-align: center;
	color: rgb(160, 157, 157);
}

.connect-on-body , .thank-you-body{
	text-align: center;
}

.address{
	border: 3px solid;
	border-color: rgb(51, 160, 190);
	padding : 10px;
	border-radius: 20px;
}

.call-us{
	border: 3px solid;
	text-align: center;
	border-color: rgb(51, 160, 190);
	padding : 10px;
	border-radius: 20px;
}

.dropdown-menu>li>a{
	color: #D7E353;
}

.dropdown-menu{
	border-radius: 20px;
}

