{% load i18n %}

<!-- Modal -->
<div class="modal fade" id="message-{{ notification.pk }}" tabindex="-1" role="dialog" aria-labelledby="message-{{ notification.pk }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="message-{{ notification.pk }}"> {% trans "Notifications" %} </h3>
      </div>
      <div class="modal-body messages" >
        
        <div class="messages" style="word-wrap: break-word;">{{ notification.message }}</div>

      </div>

      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>