{% load i18n %}
{% load staticfiles %}

<!-- Modal -->
<div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contact-us" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="contact-us"> {% trans "About Us" %}  </h3>
      </div>
      <div class="modal-body contact-us-body">

        <div class="address">
          <div class="company-name-line">
            <a class="address-first-line" style="font-weight: bold;text-decoration: underline;">Wukora Pvt Ltd ( OPC )</a><p></p>
          </div>
          <div class="address-first-line">
            <a class="address-first-line">#4/A 1st Floor, Artillery Road</a>
          </div>
          <div class="address-second-line">
            <a class="address-second-line">Gowthama Puram , Halasuru</a> 
          </div>
          <div class="address-third-line">
            <a class="address-third-line">Bangalore - 560008</a>
          </div>
        </div>

      </div>

      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="callUsModal" tabindex="-1" role="dialog" aria-labelledby="call-us" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="call-us"> {% trans "Contact Us" %} </h3>
      </div>
      <div class="modal-body call-us-body">
        
        <div class="call-us">
          <a>Phone : +91-90366-27947</a><br>
          <a>Email : ravi.prasad@wukora.com </a>
        </div>

      </div>

      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="connectOnModal" tabindex="-1" role="dialog" aria-labelledby="connect-on" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="connect-on"> {% trans "Connect Us" %} </h3>
      </div>
      <div class="modal-body connect-on-body">
        
        <div class="connect-on">
          <a href="https://www.facebook.com/wukora.achieving.dreams"><i class="fa fa-facebook-square fa-3x"></i> </a>
        </div>

      </div>

      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="thankYouModal" tabindex="-1" role="dialog" aria-labelledby="thank-you" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="thank-you"> {% trans "Thank You" %} </h3>
      </div>
      <div class="modal-body thank-you-body">
        
        <div class="thank-you">
          <a href="http://www.ubuntu.com/index_roadshow"><img src="{% static "img/ubuntu-logo.png" %}"alt=""> </a>
          <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets"><img src="{% static "img/css3.png" %}"alt=""> </a>
          <a href="https://en.wikipedia.org/wiki/HTML"><img src="{% static "img/html-logo.png" %}"alt=""> </a>
          <a href="https://www.javascript.com/"><img src="{% static "img/javascript-logo.png" %}"alt=""> </a>
          <a href="https://www.djangoproject.com/"><img src="{% static "img/django-logo.png" %}"alt=""> </a>
          <a href="http://getsaleor.com/"><img src="{% static "img/logo-saleor.png" %}"alt=""> </a>
          <a href="http://www.postgresql.org/"><img src="{% static "img/postgresql-logo-mod.png" %}"alt=""> </a>
          <a href="https://www.python.org/"><img src="{% static "img/python-logo-mod.png" %}"alt=""> </a>
          <a href="http://www.ccavenue.com/"><img src="{% static "img/ccavenue-payment-logo-mod.png" %}"alt=""> </a>
          <a href="https://www.nginx.com/"><img src="{% static "img/nginx-logo.png" %}"alt=""> </a>
        </div>

      </div>

      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>